.comments {
    padding-bottom: 63px;
    &__block {
        display: flex;
        margin-top: 93px;
        &:nth-child(2){
            margin-top: 70px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
        margin-right: 62px;
    }
    &__descr {
        padding-right: 60px;
    }
    &__subtitle {
        color: $second-color;
        font-weight: 700;
        font-size: 18px;
        text-align: left;
    }
    &__maraphon {
        color: #646464;
        font-weight: 300;
        font-size: 14px;
        text-align: left;
    }
    &__text {
        color: #0d0d0d;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
        margin-top: 15px;
    }
}