@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .carousel {
        &__inner {
            width: 700px;
            .watches {
                width: 85%;
                margin: 0 auto;
            }
        }
    }
    .title {
        &_left {
            font-size: 33px;
        }
    }
    .catalog {
        &__tab {
            width: 200px;
            height: 45px;
            font-size: 16px;
            line-height: 45px;
        }
    }
    .comments {
        &__text {
            font-size: 14px;
        }
    }
    .footer {
        &__info {
            width: 380px;
            height: 200px;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .promo {
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .consultation {
        padding: 85px 0 92px 15px;
    }
    .button {
        &_main {
            width: 230px;
            font-size: 15px;
        }
    }
    .title {
        font-size: 27px;
        &_left {
            font-size: 25px;
        }
    }
    .carousel {
        padding: 60px 0;
        &__inner {
            .watches {
                width: 75%;
            }
        }
        .slick-prev {
            left: 0px;
        }
        .slick-next {
            right: 0px;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 55px;
        }
        &__tab {
            width: 180px;
            height: 40px;
            font-size: 15px;
            line-height: 40px;
        }
    }
    .feed-form {
        width: 270px;
    }
    .modal {
        width: 350px;
        min-height: 370px;
        padding: 30px 40px 32px 32px;
        &__subtitle {
            font-size: 16px;
        }
    }
    .comments {
        &__img {
            width: 140px;
            height: 140px;
            margin-left: 35px;
        }
    }
    .footer {
        &__info {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 530px;
    }
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        background-repeat: no-repeat;
        background-position: 40%;
        background-attachment: fixed;
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__icons {
            width: 380px;
        }
    }
    .title {
        font-size: 25px;
    }
    .advantages {
        &__subtitle {
            font-size: 16px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .carousel {
        &__inner {
            .watches {
                width: 60%;
                margin: 0 70px;
            }
        }
        .slick-prev {
            left: 10px;
        }
        .slick-next {
            right: 155px;
        }
    }
    .catalog {
        &__tabs {
            margin-top: 55px;
        }
        &__tab {
            width: 150px;
            height: 40px;
            font-size: 15px;
            line-height: 40px;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .comments {
        &__descr {
            padding-right: 10px;
        }
        &__img {
            margin-left: 10px;
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 310px;
    }
    .header {
        &__phone {
            font-size: 14px;
        }
    }
    .button {
        width: 130px;
        &_main {
            font-size: 13px;
            width: 190px;
            height: 40px;
        }
        &_submit {
            width: 100%;
            font-size: 14px;
        }
    }
    .promo {
        min-height: 500px;
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            display: none;
        }
        &__link {
            font-size: 14px;
        }
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        &__wrapper {
            margin: 0 auto;
            margin-top: 45px;
            display: block;
        }
        &__block {
            width: 100%;
            margin-top: 20px;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            width: 280px;
        }
    }
    .consultation {
        margin-bottom: 30px;
        &__descr {
            font-size: 16px;
        }
    }
    .modal {
        width: 280px;
        &__close {
            right: 2px;
            top: 2px;
            font-size: 32px;
        }
    }
    .feed-form {
        width: 220px;
    }
    .carousel {
        display: none;
    }
    .catalog {
        padding-bottom: 60px;
        &__tabs {
            margin-top: 35px;
            display: block;
        }
        &__tab {
            margin: 0 auto;
            margin-bottom: 10px;
            width: 150px;
            height: 40px;
            font-size: 15px;
            line-height: 40px;
        }
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .pageup {
        right: 5px;
    }
    .comments {
        &__block {
            display: block;
            margin-top: 50px;
            &:nth-child(2) {
                margin-top: 45px;
            }
        }
        &__descr {
            padding: 10px;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 10px;
            text-align: center;
        }
        &__maraphon {
            margin-top: 15px;
        }
    }
}